/* ---- Base Rules ---- */
body {
    background: #F7B2B7;
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #fff;
}

/* Typeography General */
h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3em;
    margin: 2em 1rem;
}

@media only screen and (min-width: 35em) {
    h1 {
        font-size: 7em;
        margin: 2em 4rem 1em;
    }
}

h2 {
    border-bottom: 1px solid #DE639A;
    font-family: 'Oxygen', Sans-Serif;
    font-size: 3em;
    color: #fff;
}

p {
    line-height: 1.6em;
    color: #eee;
}

/* ---- Layout Rules ---- */
.main {
    margin: 10vh 1em 10vh;
}

.main-hero {
    min-height: 40vh;
    padding-top: 3em;
}

section {
    position: relative;
    min-height: 80vh;
}

/* ---- Module Rules ---- */

/* Navigation Styles */
.navbar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Dynamic grid items */
    background-color: #333;
    color: white;
    padding: 10px;
    overflow: hidden; /* Hide overflow content */
}

#navbar__list {
    display: flex; /* Display links horizontally */
    list-style: none;
    padding: 0;
  }
  
  .menu__link {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    transition: ease 0.3s color; /* Smooth color transition on hover */
  }
  
  .menu__link:hover {
    color: #F7B2B7; /* Change color on hover */
  }
  
/* Header Styles */
.page__header {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

/* Footer Styles */
.page__footer {
    background: #000;
    padding: 3em;
    color: #fff;
}

.page__footer p {
    color: #fff;
}

/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
    padding: 1em;
    text-align: left;
}

@media only screen and (min-width: 35em) {
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right;
}

/* Background Circles */

.background-circle {
    position: absolute;
    z-index: -5;
    border-radius: 50%;
    opacity: 1.2;
    transition: ease 0.5s all;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    /* Adjust size and positioning of the circles */
}

.background-circle.visible {
    opacity: 1;
}

section:nth-of-type(odd) .landing__container::before {
    content: '';
    background: rgba(255, 255, 255, 0.187);
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
    top: -10vh; /* Adjust the vertical position of the circles */
    left: -10vh; /* Adjust the horizontal position of the circles */
}

section:nth-of-type(even) .landing__container::before {
    content: '';
    background: #F7B2B7;
    background: linear-gradient(0deg, rgba(247, 178, 183, 0.1) 0%, rgba(247, 178, 183, 0.2) 100%);
    position: absolute;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
    top: -5vh; /* Adjust the vertical position of the circles */
    right: -5vh; /* Adjust the horizontal position of the circles */
}

section:nth-of-type(3n) .landing__container::after {
    content: '';
    background: #F7717D;
    background: linear-gradient(0deg, rgba(247, 113, 125, 0.1) 0%, rgba(247, 113, 125, 0.2) 100%);
    position: absolute;
    z-index: -5;
    width: 6vh;
    height: 5vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
    bottom: -8vh; /* Adjust the vertical position of the circles */
    right: -7vh; /* Adjust the horizontal position of the circles */
}

section:nth-of-type(3n + 1) .landing__container::after {
    content: '';
    background: #16001E;
    background: linear-gradient(0deg, rgba(22, 0, 30, 0.1) 0%, rgba(22, 0, 30, 0.2) 100%);
    position: absolute;
    z-index: -5;
    width: 8vh;
    height: 7vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
    bottom: -10vh; /* Adjust the vertical position of the circles */
    right: -12vh; /* Adjust the horizontal position of the circles */
}

/* Highlight the active section in the viewport */
.your-active-class {
    background-color: #F7B2B7;
    color: #d4c0c0;
}